MONGODB_URI=
NODE_ENV=

POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=5432
PORT=5432


ISSUER_BASE_URL=https://YOUR_DOMAIN
ALLOWED_AUDIENCE=https://api.yourapplication.com
