.dropdown {
  position: relative;
  display: inline-block;

  &__list {
    position: absolute;
    list-style-type: none;
    padding: 0px;
    top: 25px;
    right: 0px;
    //width: 100%;
    background-color: var(--surface-40);
    border-radius: 2px;
    z-index: 99;
    overflow: hidden;
  }

  &__item {
    padding: 6px 10px;
    &:hover {
      background-color: var(--surface-50);
    }
  }
}
