//@font-face {
//  font-family: 'NunitoSans-Regular';
//  src: local('NunitoSans-Regular'),
//    url(../assets/fonts/) format('truetype');
//}
//@font-face {
//  font-family: 'NunitoSans-Bold';
//  src: local('NunitoSans-Bold'),
//    url(@/assets/fonts/NunitoSans-Bold.ttf) format('truetype');
//}
//@font-face {
//  font-family: 'NunitoSans-Italic';
//  src: local('NunitoSans-Italic'),
//    url(@/assets/fonts/NunitoSans-Italic.ttf) format('truetype');
//}
//@font-face {
//  font-family: 'NunitoSans-SemiBold';
//  src: local('NunitoSans-SemiBold'),
//    url(@/assets/fonts/NunitoSans-SemiBold.ttf) format('truetype');
//}

//@font-face {
//  font-family: 'Lato-Regular';
//  src: local('Lato-Regular'),
//    url(../assets//fonts/Lato-Regular.ttf) format('truetype');
//}
//@font-face {
//  font-family: 'Lato-Bold';
//  src: local('Lato-Bold'), url(../assets/fonts/Lato-Bold.ttf) format('truetype');
//}

//@font-face {
//  font-family: 'Lato-Italic';
//  src: local('Lato-Italic'),
//    url(../assets/fonts//Lato-Italic.ttf) format('truetype');
//}

//@font-face {
//  font-family: 'Lato-Regular';
//  font-weight: bold;
//  src: local('Lato-Bold'), url(../assets/fonts/Lato-Bold.ttf) format('truetype');
//}

//@font-face {
//  font-family: 'Lato-Regular';
//  font-style: italic;
//  src: local('Lato-Italic'),
//    url(../assets/fonts/Lato-Italic.ttf) format('truetype');
//}

//@font-face {
//  font-family: 'Lato-Regular';
//  font-style: italic;
//  font-weight: bold;
//  src: local('Lato-Italic'),
//    url(../assets/fonts/Lato-BoldItalic.ttf) format('truetype');
//}

//@font-face {
//  font-family: 'NunitoSans-Regular';
//  font-weight: bold;
//  src: local('NunitoSans-Bold'),
//    url(../assets/fonts/NunitoSans-Bold.ttf) format('truetype');
//}

//@font-face {
//  font-family: 'RockSalt';
//  src: local('RockSalt-Regular'),
//    url(@/assets/fonts/RockSalt-Regular.ttf) format('truetype');
//}

:root {
  font-family: 'Lato-Regular';
  //line-height: 1.5;
  //font-weight: 400;

  //color-scheme: light dark;
  color: #000;
  background: #fbfbfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  //background: linear-gradient(to right, var(--primary), var(--secondary));

  --white: #fff;
  --black: #000;
  --text-color: #fff;
  --bg-color-white: #fff;
  --bg-color-black: #000;

  --cream: #ffd4b3;

  --primary: #9ef8ee;
  --secondary: #32a89c;

  --error-error: #93000a;
  --error-error10: #ffdad6;
  --error-error20: #ffb4ab;
  --error-error30: #ff897d;
  --error-error40: #ff5449;
  --error-error50: #de3730;
  --error-error60: #ba1a1a; // --error (old) --text-error --border-error

  --primary-green: #04bf68;
  --primary-green-opacity10: #04bf681a;
  --primary-green-opacity20: #04bf6833;
  --primary-green-opacity30: #04bf684d;
  --primary-green-opacity40: #04bf6866;
  --primary-green-opacity50: #04bf6880;
  --primary-green-opacity60: #04bf6899;
  --primary-green-opacity70: #04bf68b3;
  --primary-green-opacity80: #04bf68cc;
  --primary-green-opacity90: #04bf68e6;

  --primary-light-green: #04d960;
  --primary-light-green-opacity10: #04d9601a;
  --primary-light-green-opacity20: #04d96033;
  --primary-light-green-opacity30: #04d9604d;
  --primary-light-green-opacity40: #04d96066;
  --primary-light-green-opacity50: #04d96080;
  --primary-light-green-opacity60: #04d96099;
  --primary-light-green-opacity70: #04d960b3;
  --primary-light-green-opacity80: #04d960cc;
  --primary-light-green-opacity90: #04d960e6;

  [data-theme='dark'] {
    --text-color: #fff;

    --bg-color: #000;
    //--f: #37353E;
    //--f1: #44444E;
    //--f2: #715A5A;
    //--f3: #D3DAD9;

    --primary: #33c1a6;
    --primary-10: #55c8b0;
    --primary-20: #70cfb9;
    --primary-30: #87d6c3;
    --primary-40: #9cddcd;
    --primary-50: #b1e4d7;

    --surface: #222831;
    --surface-10: #37353E;
    --surface-20: #44444E;
    --surface-30: #715A5A;
    --surface-40: #7a7a87;
    --surface-50: #60606b;

    // --surface: #37353E;
    //--surface-10: #282828;
    //--surface-20: #3f3f3f;
    //--surface-30: #575757;
    //--surface-40: #717171;
    //--surface-50: #8b8b8b;

    --border-color: var(--surface-50);
    --border-shadow: rgba(255, 255, 255, 0.35);

    --goal-priority-box-shadow: 0 0 4px 3px #7253b5;
    --goal-priority-background: radial-gradient(
      160% 190% at -15% -15%,
      rgb(249 163 255) 0%,
      #8ea1ff 100%
    );
    --goal-priority-background-hover: radial-gradient(
      160% 190% at -15% -15%,
      rgba(210, 140, 215, 0.63) 0%,
      #8ea1ffc9 100%
    );
    --goal-priority-background-active: radial-gradient(
      160% 190% at -15% -15%,
      rgb(210, 140, 215) 0%,
      #8ea1ff 100%
    );

    --subtask-high-prioriy-background: radial-gradient(
      160% 190% at -15% -15%,
      rgba(249, 163, 255, 0.25) 0%,
      rgba(142, 161, 255, 0.25) 100%
    );
    --subtask-high-prioriy-box-shadow: 0 0 5px 1px #7253b5;
  }

  [data-theme='light'] {
    --text-color: #000;

    --bg-color: #fff;
    --f: #F9F8F6
    --f1: #EFE9E3;
    --f2: #D9CFC7;
    --f3: #C9B59C;
    
     --surface: #F9F8F6;
    --surface-10: #EFE9E3;
    --surface-20: #D9CFC7;
    --surface-30: #C9B59C;
    --surface-40: #C9B59C;
    --surface-50: #C9B59C;

    //--surface: #ffd4b3;
    //--surface-10: #f0caad;
    //--surface-20: #d5b399;
    //--surface-30: #d4b7a2;
    //--surface-40: #c5ae9c;
    //--surface-50: #b7a496;

    --primary: #32a89c;
    --primary-10: #42a499;
    --primary-20: #4e9f96;
    --primary-30: #589b93;
    --primary-40: #61978f;
    --primary-50: #69928c;

    --border-color: var(--surface-50);
    --border-shadow: rgba(0, 0, 0, 0.35);

    --goal-priority-box-shadow: 0 0 4px 3px #5f9ea1;
    --goal-priority-background: radial-gradient(
      160% 190% at -15% -15%,
      #72acac 0%,
      #bde6d6 100%
    );

    --goal-priority-background-hover: radial-gradient(
      160% 190% at -15% -15%,
      #5f9ea1 0%,
      #97c9c1 100%
    );
    --goal-priority-background-active: radial-gradient(
      160% 190% at -15% -15%,
      #72acac 0%,
      #bde6d6 100%
    );

    --subtask-high-prioriy-background: radial-gradient(
      160% 190% at -15% -15%,
      rgba(114, 172, 172, 0.55) 0%,
      rgba(189, 230, 214, 0.65) 100%
    );
    --subtask-high-prioriy-box-shadow: 0 0 5px 1px #5f9ea1;
  }

  /* */

  --neutral: #fbfcff;
  --gray: #889392;

  --dust: #f2e3d5;

  --danger: #f24405;
}
