.drag-and-drop-tip {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;

  &--visible {
    visibility: visible;
    animation: fadein 0.5s ease-in;
  }

  &--closed {
    visibility: hidden;
    animation: fadeout 0.3s ease-in;
  }

  //background-color: red;
  &__container {
    width: 250px;
    gap: 10px;
    padding: 20px 10px 10px;
    background-color: var(--surface-20);
    color: var(--text-color);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    animation: glowing 2s ease-in-out infinite;
    //z-index: 100;
    button {
      margin-top: 10px;
    }
    img {
      width: 40px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 18px;
  }
}
@keyframes fadein {
  0% {
    top: -95%;
    opacity: 0;
  }
  65% {
    top: -10%;
  }
  100% {
    top: 0%;
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    top: 0%;
    visibility: visible;
  }

  50% {
    top: -20%;
    display: none;
  }

  100% {
    display: none;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transform: scale(1);
    //opacity: 1;
  }
  50% {
    box-shadow: 0 0 25px rgba(61, 159, 84, 0.65);
    transform: scale(1.01);
    //opacity: 1;
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    transform: scale(1);
    //opacity: 1;
  }
}
