.eisenhower-matrix {
  height: 100%;
  //width: 100%;
  margin: 5px;
  background: var(--surface-10);
  border-radius: 8px;
  overflow: hidden;

  &__container {
    height: 100%;
  }

  &__header {
    margin-bottom: 5px;
  }

  &__board {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas:
      'urgent-important urgent-non-important'
      'non-urgent-important non-urgent-non-important';
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding-top: 40px;
    overflow: scroll;
  }

  &__title {
    font-size: 20px;
    padding: 5px 5px 10px 5px;
    background-color: var(--surface-10);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    span {
      padding-right: 7px;
    }
  }

  &__task {
    padding: 20px 15px 10px 30px;
    margin: 10px 5px;
    border-radius: 5px;
    background-color: var(--surface-10);
    position: relative;

    &:hover {
      background-color: var(--surface-30);
      cursor: pointer;
    }
    &-title {
      font-size: 20px;
      margin-right: 20px;
      &--line-through {
        text-decoration: line-through;
      }
    }

    &--done {
      position: absolute;
      top: 1px;
      left: 1px;
      img {
        width: 24px;
      }
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    position: relative;
    color: var(--text-color);
    overflow: hidden;
    &--urgent-important {
      grid-area: urgent-important;
      background-color: var(--surface-20);
    }
    &--urgent-non-important {
      grid-area: urgent-non-important;
      background-color: var(--surface-20);
    }
    &--non-urgent-important {
      grid-area: non-urgent-important;
      background-color: var(--surface-20);
    }
    &--non-urgent-non-important {
      grid-area: non-urgent-non-important;
      background-color: var(--surface-20);
    }
  }
}
